beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.10
chromedriver-binary==97.0.4692.71.0
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
idna==3.3
numpy==1.22.1
pandas==1.4.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
selenium==3.14.0
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.8
webdriver-manager==3.5.2
